{% extends 'base.html.twig' %}

{% block title 'Gérer des options' %}

{% block body %}
  <div class="container mt-4">
    <h1>Gérer les options</h1>

    {% for message in app.flashes('success') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nom</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for option in options %}
        <tr>
          <td>{{ option.name }}</td>
          <td>
            <a href="{{ path('admin.options.edit', {id: option.id}) }}" class="btn btn-secondary">Editer</a>
            <form method="post" action="{{ path('admin.options.delete', {id: option.id}) }}"
                  onsubmit="return confirm('Êtes-vous vraiment sûr ?')"
                  style="display:inline-block; vertical-align: bottom;">
              <input type="hidden" name="_method" value="DELETE">
              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
              <button class="btn btn-danger">Supprimer</button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <div class="text-right">
      <a href="{{ path('admin.options.new') }}" class="btn btn-primary">Créer une nouvelle option</a>
    </div>
  </div>
{% endblock %}
